<!DOCTYPE html>
<html lang="en">
<head>
    <title>Web Security Scanner</title>
</head>

<body>

<!-- PROJECT HEADER -->
<div style="background:#222;color:white;padding:15px;text-align:center;">
    <h2> Web Application Vulnerability Scanner</h2>
    <p>Interncred Cybersecurity Internship - Task 1</p>
</div>

<h1>Website Security Scanner</h1>

<form method="POST">
    <input name="url" placeholder="Enter website (example.com)" type="text">
    <button type="submit">Scan Website</button>
</form>

<hr>

{% if report %}

<!-- SCAN SUMMARY -->
<h2>Scan Summary</h2>
<ul>
    <li><strong>Target:</strong> {{ report.target }}</li>
    <li><strong>Scan Time:</strong> {{ timestamp }}</li>
    <li><strong>SQL Injection:</strong> {{ report.sql_injection }}</li>
    <li><strong>XSS:</strong> {{ report.xss }}</li>
    <li><strong>Missing Security Headers:</strong> {{ report.missing_headers }}</li>
    <li><strong>Overall Risk:</strong> <span style="color:red">{{ report.risk }}</span></li>
</ul>

<hr>
{% endif %}


{% if result %}

{% if result.error %}
<h3 style="color:red;">Error: {{ result.error }}</h3>

{% else %}

<h2>Scan Result for {{ result.url }}</h2>

<h3>Security Headers:</h3>
<ul>
    {% for header, status in result.security_headers.items() %}
    <li><strong>{{ header }}</strong> : {{ status }}</li>
    {% endfor %}
</ul>

<h3>Links Found:</h3>
<ul>
    {% for link in result.links %}
    <li>{{ link }}</li>
    {% endfor %}
</ul>

<h3>Forms Found:</h3>
<ul>
    {% for form in result.forms %}
    <li>
        Method: {{ form.method }} | Action: {{ form.action }}
        <ul>
            {% for input in form.inputs %}
            <li>{{ input.type }} : {{ input.name }}</li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>

<h3>SQL Injection Test:</h3>
<ul>
    {% if result.sql_vulnerabilities %}
    {% for v in result.sql_vulnerabilities %}
    <li>Vulnerable Form → Action: {{ v.action }} | Method: {{ v.method }} | Payload: {{ v.payload }}</li>
    {% endfor %}
    {% else %}
    <li>No SQL Injection vulnerability detected</li>
    {% endif %}
</ul>

<h3>XSS Test:</h3>
<ul>
    {% if result.xss_vulnerabilities %}
    {% for v in result.xss_vulnerabilities %}
    <li>Vulnerable Form → Action: {{ v.action }} | Method: {{ v.method }} | Payload: {{ v.payload }}</li>
    {% endfor %}
    {% else %}
    <li>No XSS vulnerability detected</li>
    {% endif %}
</ul>

{% endif %}
{% endif %}

<!-- FOOTER -->
<hr>
<div style="text-align:center;margin-top:20px;color:gray;">
    <p>Developed by: Cedrick Dzodzodzi</p>
    <p>Interncred Cybersecurity Internship Program</p>
</div>

</body>
</html>
